
 <div class="jumbotron">
    <div class="image-cropper">
     <img src="http://tinygraphs.com/squares/#{current_user.name}" class="index-user-prof-pic" alt="">  
    </div>
    <h1 class="display-4">Welcome <%= current_user.name.capitalize %></h1>  
     <p class="lead">You have #{<%=  %>} outstanding tasks to complete.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <%= button_to  "Create a New Milestone", new_milestone_path, :action => 'get', :method => "get", :class => "btn btn-primary" %>   
 </div>

 <br>




 <% @milestones.each do |ms| %>
<% if ms.user_id == current_user.id %>
    <h3><a href="/milestones/<%= ms.id %>"><%= ms.title %></a></h3>
    <% end %>   
<% end %>    
