<div class="mx-auto d-flex" style="width: 400px; margin-top: 3em; margin-bottom: 3em;">
         <div class="image-cropper">
             <img src="http://tinygraphs.com/squares/#{current_user.name}" class="index-user-prof-pic" alt="">  
         </div>
      <h1 class="display-4" style="margin-left: 10px; margin-top: 20px; margin-bottom: 10px;"><%= current_user.name.capitalize %></h1>  
</div>

<div class="mx-auto index-cta-container">
     <div class="row">
    <div class="col">
      <div class="mx-auto card text-white bg-primary mb-3 ms-card" style="max-width: 31rem;">
  <div class="card-header"><%= @milestone.category %> </div>
  <div class="card-body">
    <h5 class="card-title"><%= @milestone.title.capitalize %></h5>
    <p class="card-text"><%= @milestone.due_date %></p>
    <%= link_to  "View Milestone's Tasks >>", milestone_tasks_path(@milestone), class: "card-link" %>
  </div>
</div>

<div class="mx-auto show-container" style="width: 500px;">

    <div class="d-flex justify-content-between">
    <%= button_to  "Add task", new_milestone_task_path(@milestone, @task), method: 'get', :class => "btn btn-primary" %>
    <%= button_to  "Edit", edit_milestone_path(@milestone), method: "get", class: "btn btn-secondary", style: "width: 6em;" %>
    <%= button_to 'Delete Milestone', milestone_path(@milestone), method: 'delete', class: "btn btn-danger" %>
    </div>
    <br>
    <%= link_to  "Back to Milestones", root_path,  class: "link-to-show"%> 
</div>   


<% @milestone.tasks do |tasks| %>
<div class="mx-auto index-cta-container">
     <div class="row">
    <div class="col">
      <div class="mx-auto card text-white bg-primary mb-3 ms-card" style="max-width: 31rem;">
  <div class="card-header"><%= tasks.priority %> </div>
  <div class="card-body">
    <h5 class="card-title"><%= tasks.title.capitalize %></h5>
    <p class="card-text"><%= tasks.due_date %></p>
    <%= link_to  "View Milestone's Tasks >>", milestone_tasks_path(@milestone), class: "card-link" %>
  </div>
</div>
<% end %>

