<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
    <p><%= error %></p>
    <% end %>
<% end %>

    <%= form_for(@task, class: "mx-auto") do |f| %>   
        <div class="form-group">
          <%= f.text_field :title, :placeholder => "What do you want to accomplish?", :class => "form-control"%>
        </div>
        <%= f.hidden_field :completed?, :value => false %>
        
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Priority</label>
        </div>
            <%=f.select :priority, [["Low", 1], ["Medium", 2], ["High",3]], {}, :class => "custom-select" %>

         <%
=begin%>
 <select value="task[priority]" class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="low" name="low">Low</option>
            <option value="medium" name="medium">Medium</option>
            <option value="high" name="high">High</option>
        </select> 
<%
=end%>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Milestone</label>
        </div>
            <%= collection_select(:task, :milestone_id, @user_milestones, :id, :title, { prompt: true }, { class: "custom-select"}) %>

         <%
=begin%>
 <select value="task[milestone_id]" class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <%  @user_milestones.each do |ms| %>
            <option value="<%= ms.id %>" ><%= ms.title %></option>
        <% end %> 
        </select>
<%
=end%>

        
    </div>

    <div class="form-group">
        <%= f.text_field :due_date, :placeholder => "When do you want to accomplish this goal?", :class => "form-control"%>
    </div>
        <div class="d-flex justify-content-between">
        <%= f.submit :submit, :class => "btn btn-primary" %>
        <%= link_to  "Back to Tasks", tasks_path %>
        </div>
    <% end %>   
<br>






