<div class="jumbotron">
    <div class="d-flex">
         <div class="image-cropper">
             <img src="http://tinygraphs.com/squares/#{current_user.name}" class="index-user-prof-pic" alt="">  
         </div>
      <h1 class="display-4" style="margin-left: 10px; margin-top: 20px; margin-bottom: 10px;">Welcome <%= current_user.name.capitalize %></h1>  
    </div>
         <p class="lead" style="padding: 1em;">You have <%= current_user.tasks.count %> outstanding <%= current_user.tasks.count < 2 ? "task" : "tasks"  %>  to complete.</p>
    <%= button_to  "Create a New Task", new_task_path, :action => 'get', :method => "get", :class => "btn btn-primary" %>   
 </div>

 <br>


<div class="mx-auto container-fluid" style="width: 475px; padding: 1em; margin-bottom: 0;" >
    <h3><%= current_user.tasks.count >= 1 ? "T A S K S" : "Please add some Tasks"  %> </h3>
</div>



<% if current_user.tasks.count > 1 %>
 <% @user_tasks.each do |t| %>
<div class="card subtask-container">
  <h5 class="card-header" 
  style="
        <% case t.priority %>
        <% when 'Low' %>
           <%= 'background-color: #70f4b6' %>
        <% when 'Medium' %>
           <%= "background-color: #ccf470"%>
        <% when 'High' %>
           <%= 'background-color: #ee6c6c'%>
        <% end %> ">
  
  <%= t.priority %></h5>
  <div class="card-body">
    <h5 class="card-title"><%= t.title %></h5>
    <p class="card-text">Created: <%= t.created_at.strftime("%m/%d/%Y")%></p>
    <p class="card-text">Due: <%= t.due_date%></p>
    <%= link_to  "View Subtask", subtasks_path, method: "get", class: "btn btn-primary" %>
  </div>
</div>
  <% end %>
   <% end %>
