<div class="jumbotron">
    <div class="d-flex">
          <div class="image-cropper">
            <img src="http://tinygraphs.com/squares/#{current_user.name}" class="index-user-prof-pic" alt="">
           </div>
         <h1 class="display-4 header-welcome-text">Welcome <%= current_user.name.capitalize %></h1>
     </div> 
        <p class="lead" style="padding: 1em;">You have <%= current_user.subtasks.count %> outstanding <%= current_user.subtasks.count == 1 ? "subtask" : "subtasks" %> to complete.</p>
     <%= button_to  "Create a New Subtask", new_subtask_path, method: "get", class: "btn btn-primary" %>
</div>

<div class="mx-auto container-fluid" style="width: 350px; padding: 1em;" >
    <h3><%= current_user.tasks.count >= 1 ? "S U B T A S K S" : "Please add some Subtasks"  %> </h3>
</div>

<% if current_user.tasks.count > 0 %>

<% @user_subtasks.each do |subtask| %>  
  <% if subtask.completed? == false %>
<div class="card subtask-container">
  <h5 class="card-header" 
  style="
        <% case subtask.task.priority %>
        <% when 'Low' %>
           <%= 'background-color: #70f4b6' %>
        <% when 'Medium' %>
           <%= "background-color: #ccf470"%>
        <% when 'High' %>
           <%= 'background-color: #ee6c6c'%>
        <% end %> ">
  
  <%= subtask.task.priority %></h5>
  <div class="card-body">
    <h5 class="card-title"><%= subtask.title %></h5>
    <p class="card-text">Created: <%= subtask.created_at.strftime("%m-%d-%Y")%></p>
    <p class="card-text">Due: <%= subtask.created_at.strftime("%m-%d-%Y")%></p>
    <div class="d-flex justify-content-between"> 
        <%= link_to  "View Subtask", subtask_path(subtask.id), method: "get", class: "btn btn-primary" %>
        <%= link_to  "Complete", task_subtask_complete_path(task_id: subtask.task.id, subtask_id: subtask.id), method: "patch", value: true, class: "btn btn-success" %>
    </div>

  </div>
  
</div>
    <% end %> 
  <% end %>
<% end %>   

 