<div class="mx-auto d-flex" style="width: 400px; margin-top: 3em; margin-bottom: 3em;">
         <div class="image-cropper">
             <img src="http://tinygraphs.com/squares/#{current_user.name}" class="index-user-prof-pic" alt="">  
         </div>
      <h1 class="display-4" style="margin-left: 10px; margin-top: 20px; margin-bottom: 10px;"><%= current_user.name.capitalize %></h1>  
</div>

<div class="mx-auto index-cta-container">
     <div class="row">
    <div class="col">
      <div class="mx-auto card text-white bg-primary mb-3 ms-card" style="max-width: 31rem;">
  <div class="card-header"><%= @subtask.task.priority %> </div>
  <div class="card-body">
    <h5 class="card-title"><%= @subtask.title.capitalize %></h5>

    <%= button_to  "Edit", edit_subtask_path(@subtask), method: "get", class: "btn btn-secondary", style: "width: 6em;" %>
  </div>
</div>

<div class="mx-auto show-container" style="width: 500px;">

    <div class="d-flex justify-content-between">
      <%= button_to  "Complete", task_subtask_complete_path, method: 'patch', value: "true", class: "btn btn-success", style: "width: 6em;" %>
      <%= button_to  "Add Subtask", new_subtask_path(@task, @subtask), method: 'get', :class => "btn btn-primary" %>
      <%= button_to 'Delete Subtask', subtask_path(@subtask), method: 'delete', class: "btn btn-danger" %>
    </div>
    <br>
    <%= link_to  "Back to Tasks", root_path %> 
</div>   





