<div class="jumbotron">
    <div class="d-flex">
         <div class="image-cropper">
             <img src="http://tinygraphs.com/squares/#{current_user.name}" class="index-user-prof-pic" alt="">  
         </div>
      <h1 class="display-4 index-header-text" style="margin-left: 10px; margin-top: 20px; margin-bottom: 10px;">Welcome <%= current_user.name.capitalize %></h1>  
    </div>
         <p class="lead" style="padding: 1em;">You have <%= outstanding_items %> outstanding <%= outstanding_items == 1 ? "item" : "items"  %>  to complete.</p>
    <%= button_to  "Create a New Milestone", new_milestone_path, :action => 'get', :method => "get", :class => "btn btn-primary"%>   
 </div>


 <div class="mx-auto" style="width: 500px;">
    <h4 class="index-intro-text">Kanban is a to-do app that forces you to break down large goals into smaller, more achievable steps.</h4>
 </div>

<div class="mx-auto index-cta-container">
     <div class="row">
    <div class="col">
      <div class="mx-auto card text-white bg-primary mb-3 ms-card" style="max-width: 24rem; height: 300px;">
  <div class="card-header"><%= milestone_incomplete_count %> milestones to complete. </div>
  <div class="card-body">
    <h5 class="card-title">M I L E S T O N E S</h5>
    <p class="card-text">A milestone is an overarching goal. To complete a milestone, you must first complete all of the Milestone's associated tasks and subtasks.</p>
    <%= link_to  "View Your Milestones >>", milestones_path, class: "card-link" %>
  </div>
</div>
    </div>
    <div class="col">
      <div class="mx-auto card text-white bg-info mb-3" style="max-width: 24rem; height: 300px;">
  <div class="card-header"><%= task_incomplete_count %> tasks to complete.</div>
  <div class="card-body">
    <h5 class="card-title">T A S K S</h5>
    <p class="card-text">After creating a milestone, you will be prompted to create tasks for that milestone. Define your tasks as a step you would have to take to complete milestone.</p>
    <%= link_to  "View Your Tasks >>", tasks_path, class: "card-link" %>    
  </div>
</div>
    </div>
    <div class="col">
      <div class="mx-auto card text-white bg-dark mb-3" style="max-width: 24rem; height: 300px;">
  <div class="card-header"><%= subtask_incomplete_count %> subtasks to complete.</div>
  <div class="card-body">
    <h5 class="card-title">S U B T A S K S</h5>
    <p class="card-text">A subtask is a child of your task. Subtasks are for quick bulletpoint to-do's to accomplish a task.</p>
    <%= link_to  "View Your Subtasks >>", subtasks_path, class: "card-link" %>
    
  </div>
</div>
    </div>
  </div>
</div>