<!DOCTYPE html>
<html>
  <head>
    <title>KanBan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700,800,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
